/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/app-header/app-header.css ***!
  \*****************************************************************************************************************************************************************************/
.app-header {
  align-items: flex-end;
}

.app-header h1 {
  flex-grow: 1;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}
/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/search-panel/search-panel.css ***!
  \*********************************************************************************************************************************************************************************/
.top-panel {
  gap: 0.5rem;
}

.search-input {
  width: auto;
  flex-grow: 1;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/todo-list-item/todo-list-item.css ***!
  \*************************************************************************************************************************************************************************************/
.todo-list-item {
  font-size: 1.25rem;
}

.todo-list-item button {
  width: 35px;
  margin: 3px;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}

.todo-list-item.done .todo-list-item-label {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
  font-weight: normal;
  color: gray;
}
/*!***************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/todo-list/todo-list.css ***!
  \***************************************************************************************************************************************************************************/
.todo-list .list-group-item {
  padding: 0.25rem 0.75rem;
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/item-status-filter/item-status-filter.css ***!
  \*********************************************************************************************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/item-add-form/item-add-form.css ***!
  \***********************************************************************************************************************************************************************************/
.item-add-form {
  margin-top: 1rem;
  gap: 0.5rem;
}

.item-add-form button {
  flex-shrink: 0;
}
/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/app-footer/app-footer.css ***!
  \*****************************************************************************************************************************************************************************/
.app-footer {
  color: gray;
  font-size: 0.8rem;
  margin-top: 100px;
}
/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/app/app.css ***!
  \***************************************************************************************************************************************************************/
body {
  background: #eeeeee;
}

.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}

.top-panel {
  margin: 1rem 0;
}

/*# sourceMappingURL=main.fe983f54cb5c9f5dc1eb.css.map*/